<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>推薦図書</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
</head>
<body>
    <div class="container">
        <h1>推薦図書</h1>
        <ul>
            {% for id, book in books.items() %}
                <li>
                    おすすめ{{ id }}: <strong>{{ book.title }}</strong> URL->{{ book.url }}
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('search') }}" class="back-button">戻る</a>
    </div>
</body>
</html>